@page "/tiktactoe"

<h3>tiktactoe</h3>


<form>
    <table class="accordion-body">
        <thead>
            <tr>
                Feld
            </tr>
            <tr>
                Feld
            </tr>
            <tr>
                feld
            </tr>
        </thead>
        <tbody>
            <tr>
                Feld
            </tr>
            <tr>
                Feld
            </tr>
            <tr>
                Feld
            </tr>

        </tbody>
        <tfoot>
            <tr>
                Feld
            </tr>
            <tr>
                Feld
            </tr>
            <tr>
                Feld
            </tr>
        </tfoot>

    </table>
</form>

@code {

}
